In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/IRIS.csv')

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
print("row cols")
df.shape

In [ ]:
print("1st Five rows are")
df.head()

In [ ]:
print("last Five rows are")
df.tail()

In [ ]:
df.describe()

In [11]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [ ]:
df.dtypes

In [ ]:
# show values of particular columns
df['sepal_length']

In [ ]:
# Sort columns in descending order
df.sort_index(axis=1, ascending=False)

In [ ]:
# Sort values of particular column
df.sort_values('sepal_length')